<div class="row">
    <div class="col-lg-12 text-center">
        <span style="font-size: 30px">Sleep Analysis</span>
    </div>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" ng-click="goToDetail()"><a href="">Overview</a></li>
  <li role="presentation" class="active"><a href="">Detail View</a></li>
</ul>

<br/>
<button type="button" class="btn btn-default pull-right">Compare</button>
<br/><br/>

<table class="table table-bordered table-hover">
  <tr>
    <th></th>
    <th>Patient ID</th>
    <th>Patient Name</th>
    <th>Sleep Duration</th>
    <th>Sleep Efficiency</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <tr ng-repeat="d in data">
      <td>
        <!-- <label class="btn btn-default" ng-class="{'active btn-success': d.selected}" style="height: 32px; width:39px">
          <input type="checkbox" autocomplete="off" ng-hide="true" ng-model="d.selected">
          <span class="glyphicon glyphicon-ok" ng-show="d.selected"></span>
        </label> -->
        <input type="checkbox" autocomplete="off" ng-model="d.selected">
      </td>
      <td>{{d.subject_id}}</td>
      <td>{{d.name}}</td>
      <td>{{d.y}}</td>
      <td>{{d.x}}</td>
      <td>{{d.x}}</td>
      <td>{{d.x}}</td>
  </tr>
</table>
